
# dependencies
/node_modules

# environment variables
.env

# logs
logs
*.log
npm-debug.log*

# build output
/dist
/build

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
